
QLineEdit {
    background-color: rgb(75, 75, 75);
    color: #FFFFFF;
    width:650px;
}

QTextEdit {
    color: #FFFFFF;
    background-color: rgb(75,75,75);
}
QPushButton {
    background: #000000;
    color:#FFFFFF;
    transition: background 0.5s;
    transition: color 0.5s;
}

QPushButton::hover {
    background: #FFFFFF;
    color: #000000;

}