
QLineEdit {
    background-color: rgb(75, 75, 75);
    color: #FFFFFF;
    width:650px;
}

QTextEdit {
    color: #FFFFFF;
    background-color: rgb(75,75,75);
}
QPushButton {
    background: rgb(75, 75, 75);
    color:#FFFFFF;

}

QPushButton:hover {
    background: #FFFFFF;
    color: #000000;

}